# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv2/
venv3/
venv4/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Git
*.swp